/*cabeçalho*/
header{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightTotal);
}

header img{
    padding: 1rem;
}

header i{
    visibility: hidden;
}

/*seção*/
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:550px){
    section{
        padding: 4%;
    }
}

#inicio{
    background: linear-gradient(180deg, var(--corPrimaria),transparent);
    color: var(--lightTotal);
}

.paginaCentral{
    height: 100vh;
}

.paginaCentral h2,.paginaCentral > p{
    text-align: center;
}

.paginaCentral > p{
    font-size: 2rem;
}

h5 i{
    font-size: calc(28px - 0.75rem);
    color: var(--corPrimaria);
}

.br{
    display: block;
    height: 1px;
}

@media only screen and (max-width:550px){
    .br{
        display: none;
    }
}

.card-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:550px){
    .card-row{
    flex-direction: column;
    }

    .card{
        width: 100%;
    }
}

.card{
    min-width: 30%; min-height: 150px;
    background-color: var(--lightTotal);
    border-left: 4px solid var(--corPrimaria);
    border-radius: var(--borderRadius);
    padding: 1rem 2rem;
    margin: 2rem;
    box-shadow: 2px 5px 12px rgba(24, 24, 24, 0.1);
}

@media only screen and (max-width:500px){
    .paginaCentral{
        height: auto;
    }

    div.duplaColuna{
        display: grid;
        grid-template-rows:1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "esq";
        gap: 2rem;
    }

    div.esqCol{
        max-width: 25px; max-height: 25px;
    }

    div.duplaCol{
        display: grid;
        grid-template-columns: 0.1fr 1.9fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "esqCol dirCol";
        gap: 2rem;
        padding: 3rem;
    }

    .dir .imgReduzir{
        display: none;
    }

    #tutorial{
        width: 100%;
    }
}

.duplaColuna{
    display: grid;
    grid-template-columns:0.25fr 2.25fr 1.25fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". esq dir .";
    gap: 2rem;
}

.esq{
    grid-area: esq;
}

.dir{
    grid-area: dir;
    display: block;
}

.duplaCol{
    display: grid;
    grid-template-columns: 0.1fr 1.9fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "esqCol dirCol";
    gap: 2rem;
    padding: 3rem;
}

.dirCol{
    grid-area: dirCol;
}

.esqCol{
    grid-area: esqCol;
    min-width: 75px; min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightTotal);
    color: var(--corPrimaria);
    font-size: 3rem;
    border-radius: 50%;
    box-shadow: 2px 5px 12px rgba(24, 24, 24, 0.1);
    transition: all 0.5s ease;
}

.dirCol > h3{
    margin: 0.5rem 0;
}

.imgReduzir{
    height: 75vh;
}

#funcionalidade,#passoPasso{
    width: 100%;
}

#funcionalidade{
    background-image: linear-gradient(transparent,rgba(255, 255, 255, 0.75));
}

#tutorial{
    background-color: rgba(255, 255, 255, 0.75);
}

/*rodapé*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: var(--lightTotal);
    color: var(--corPrimaria);
    font-size: 1rem;
    padding: 1.25rem;
    border-top: 1px solid rgba(225, 225, 225, 0.25);
}

footer a,footer a:hover{
    color: var(--darkClaro);
}

footer a:hover{
    font-weight: bold;
}

#copy{
    text-transform: uppercase;
}